In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import mean_squared_error

In [3]:
train_file_path = "insurance.csv"

train_data = pd.read_csv(train_file_path)

train_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Data Analysis

In [4]:
features = list(train_data.columns)
features

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [5]:
sexEncoder = LabelEncoder()
sexEncoder.fit(train_data['sex'])
train_data['sex'] = sexEncoder.transform(train_data['sex'])

smokerEncoder = LabelEncoder()
smokerEncoder.fit(train_data['smoker'])
train_data['smoker'] = smokerEncoder.transform(train_data['smoker'])

regionEncoder = LabelEncoder()
regionEncoder.fit(train_data['region'])
train_data['region'] = regionEncoder.transform(train_data['region'])

In [6]:
train_data.describe()

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.505232,30.663397,1.094918,0.204783,1.515695,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.104885,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,0.000000,1.000000,4740.287150
50%,39.000000,1.000000,30.400000,1.000000,0.000000,2.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,2.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,3.000000,63770.428010

In [7]:
scaler = StandardScaler()
scaler.fit(train_data[features])
scaled_train_data = scaler.transform(train_data[features])
scaled_df = pd.DataFrame(scaled_train_data, columns=features)

In [8]:
scaled_df.describe()

,age,sex,bmi,children,smoker,region,charges
count,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03
mean,-1.805565e-16,-1.234687e-16,-2.124194e-16,-5.576008e-17,1.062097e-17,9.027823e-17,-8.098488e-17
std,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00
min,-1.509965e+00,-1.010519e+00,-2.412011e+00,-9.086137e-01,-5.074631e-01,-1.372326e+00,-1.003557e+00
25%,-8.691547e-01,-1.010519e+00,-7.164063e-01,-9.086137e-01,-5.074631e-01,-4.669155e-01,-7.046504e-01
50%,-1.474046e-02,9.895908e-01,-4.320880e-02,-7.876719e-02,-5.074631e-01,4.384945e-01,-3.212089e-01
75%,8.396738e-01,9.895908e-01,6.611572e-01,7.510793e-01,-5.074631e-01,4.384945e-01,2.783441e-01
max,1.765289e+00,9.895908e-01,3.685522e+00,3.240619e+00,1.970587e+00,1.343905e+00,4.171663e+00

## Machine Learning

In [21]:
features = ['age', 'sex', 'bmi', 'children', 'smoker', 'region']
X = scaled_df[features]
y = scaled_df.charges

In [22]:
train_x, test_x, train_y, test_y = train_test_split(X, y, train_size=0.7, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train_x, train_y)

y_pred = model.predict(test_x)

mse = mean_squared_error(test_y, y_pred)
print("Mean Squared Error: ", mse)

Mean Squared Error:  0.22731490662370302