In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
train_file_path = "train.csv"
train_data = pd.read_csv(train_file_path)

## Data Analysis

In [3]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
survived = train_data["Survived"]
survived.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
alive = survived[survived==1].count()
dead = survived[survived==0].count()
print("Percentage of people alive: ", (alive/survived.count()) * 100)
print("Percentage of people dead: ", (dead/survived.count()) * 100)

Percentage of people alive:  38.38383838383838
Percentage of people dead:  61.61616161616161

In [6]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
train_data.drop("PassengerId", axis=1, inplace=True)
train_data.drop("Name", axis=1, inplace=True)
train_data.drop("Ticket", axis=1, inplace=True)
train_data.drop("Cabin", axis=1, inplace=True)

In [8]:
le = LabelEncoder()
le.fit(train_data["Sex"])
train_data["Sex"] = le.transform(train_data["Sex"])
train_data

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    1  22.0      1      0   7.2500        S
1           1       1    0  38.0      1      0  71.2833        C
2           1       3    0  26.0      0      0   7.9250        S
3           1       1    0  35.0      1      0  53.1000        S
4           0       3    1  35.0      0      0   8.0500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
886         0       2    1  27.0      0      0  13.0000        S
887         1       1    0  19.0      0      0  30.0000        S
888         0       3    0   NaN      1      2  23.4500        S
889         1       1    1  26.0      0      0  30.0000        C
890         0       3    1  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [9]:
le = LabelEncoder()
le.fit(train_data["Embarked"])
train_data["Embarked"] = le.transform(train_data["Embarked"])
train_data

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0   NaN      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [10]:
features = list(train_data.columns)
features

['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

In [11]:
null_cols = train_data.isnull().any()
null_cols[null_cols == True]

Age    True
dtype: bool

In [12]:
train_data["Age"].fillna(train_data["Age"].mean(), inplace=True)

In [13]:
analysis = train_data.groupby("Survived")
for column in features:
    count = analysis[column].value_counts()
    print(count)

Survived  Survived
0         0           549
1         1           342
Name: Survived, dtype: int64
Survived  Pclass
0         3         372
          2          97
          1          80
1         1         136
          3         119
          2          87
Name: Pclass, dtype: int64
Survived  Sex
0         1      468
          0       81
1         0      233
          1      109
Name: Sex, dtype: int64
Survived  Age
0         29.699118    125
          21.000000     19
          28.000000     18
          18.000000     17
          25.000000     17
                      ...
1         43.000000      1
          47.000000      1
          53.000000      1
          55.000000      1
          80.000000      1
Name: Age, Length: 144, dtype: int64
Survived  SibSp
0         0        398
          1         97
          2         15
          4         15
          3         12
          8          7
          5          5
1         0        210
          1        112
          2         13
          3          4
          4          3
Name: SibSp, dtype: int64
Survived  Parch
0         0        445
          1         53
          2         40
          4          4
          5          4
          3          2
          6          1
1         0        233
          1         65
          2         40
          3          3
          5          1
Name: Parch, dtype: int64
Survived  Fare
0         8.0500      38
          7.8958      37
          13.0000     26
          7.7500      22
          26.0000     16
                      ..
1         82.1708      1
          83.4750      1
          106.4250     1
          108.9000     1
          247.5208     1
Name: Fare, Length: 330, dtype: int64
Survived  Embarked
0         2           427
          0            75
          1            47
1         2           217
          0            93
          1            30
          3             2
Name: Embarked, dtype: int64

In [54]:
selected_features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Embarked"]

In [55]:
X = train_data[selected_features]
y = train_data.Survived

In [56]:
train_X, test_X, train_y, test_y = train_test_split(X, y, train_size=0.7, random_state=0)

In [57]:
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier(random_state = 0)
model1.fit(train_X, train_y)

y_pred = model1.predict(test_X)
print("RandomForestClassifier Accuracy: ", accuracy_score(test_y, y_pred))

RandomForestClassifier Accuracy:  0.7873134328358209

In [59]:
import itertools
my_list = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Embarked"]

combs = []
for i in range(1, len(my_list)+1):
    combs += list(itertools.combinations(my_list, i))
    
best_accuracy = 0
best_features = None
for comb in combs:
    X = train_data[list(comb)]
    y = train_data.Survived
    train_X, test_X, train_y, test_y = train_test_split(X, y, train_size=0.7, random_state=0)
    model1 = RandomForestClassifier(random_state = 0)
    model1.fit(train_X, train_y)

    y_pred = model1.predict(test_X)
    print("RandomForestClassifier Accuracy: ", accuracy_score(test_y, y_pred))
    
    if best_accuracy < accuracy_score(test_y, y_pred):
        best_accuracy = accuracy_score(test_y, y_pred)
        best_features = list(comb)
        
print("Best Accuracy: ", best_accuracy)
print("Best Features: ", best)

RandomForestClassifier Accuracy:  0.6940298507462687
RandomForestClassifier Accuracy:  0.7873134328358209
RandomForestClassifier Accuracy:  0.6343283582089553
RandomForestClassifier Accuracy:  0.6231343283582089
RandomForestClassifier Accuracy:  0.6492537313432836
RandomForestClassifier Accuracy:  0.6417910447761194
RandomForestClassifier Accuracy:  0.7873134328358209
RandomForestClassifier Accuracy:  0.6940298507462687
RandomForestClassifier Accuracy:  0.6940298507462687
RandomForestClassifier Accuracy:  0.7201492537313433
RandomForestClassifier Accuracy:  0.6791044776119403
RandomForestClassifier Accuracy:  0.7649253731343284
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.7873134328358209
RandomForestClassifier Accuracy:  0.6380597014925373
RandomForestClassifier Accuracy:  0.6194029850746269
RandomForestClassifier Accuracy:  0.6492537313432836
RandomForestClassifier Accuracy:  0.6567164179104478
RandomForestClassifier Accuracy:  0.6305970149253731
RandomForestClassifier Accuracy:  0.6604477611940298
RandomForestClassifier Accuracy:  0.7574626865671642
RandomForestClassifier Accuracy:  0.7947761194029851
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.8097014925373134
RandomForestClassifier Accuracy:  0.6865671641791045
RandomForestClassifier Accuracy:  0.6828358208955224
RandomForestClassifier Accuracy:  0.7052238805970149
RandomForestClassifier Accuracy:  0.7238805970149254
RandomForestClassifier Accuracy:  0.6865671641791045
RandomForestClassifier Accuracy:  0.7014925373134329
RandomForestClassifier Accuracy:  0.75
RandomForestClassifier Accuracy:  0.7611940298507462
RandomForestClassifier Accuracy:  0.7425373134328358
RandomForestClassifier Accuracy:  0.7723880597014925
RandomForestClassifier Accuracy:  0.7686567164179104
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.6417910447761194
RandomForestClassifier Accuracy:  0.6455223880597015
RandomForestClassifier Accuracy:  0.6529850746268657
RandomForestClassifier Accuracy:  0.6902985074626866
RandomForestClassifier Accuracy:  0.7723880597014925
RandomForestClassifier Accuracy:  0.7649253731343284
RandomForestClassifier Accuracy:  0.7761194029850746
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.7985074626865671
RandomForestClassifier Accuracy:  0.7052238805970149
RandomForestClassifier Accuracy:  0.7052238805970149
RandomForestClassifier Accuracy:  0.7014925373134329
RandomForestClassifier Accuracy:  0.7089552238805971
RandomForestClassifier Accuracy:  0.7835820895522388
RandomForestClassifier Accuracy:  0.7313432835820896
RandomForestClassifier Accuracy:  0.7686567164179104
RandomForestClassifier Accuracy:  0.7611940298507462
RandomForestClassifier Accuracy:  0.667910447761194
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.7686567164179104
RandomForestClassifier Accuracy:  0.7723880597014925
RandomForestClassifier Accuracy:  0.7910447761194029
RandomForestClassifier Accuracy:  0.7238805970149254
RandomForestClassifier Accuracy:  0.7761194029850746
RandomForestClassifier Accuracy:  0.7873134328358209